<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles.css">
    <title>Our Services</title>

    <style>
       body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

nav {
    background-color: #333;
    color: white;
    padding: 1em;
    text-align: center;
}

nav a {
    color: rgb(148, 36, 36);
    margin: 0 1em;
    text-decoration: none;
    background: greenyellow;
}

nav a:hover {
    text-decoration: underline;
    background: #333;
}

h1 {
    color: #333;
}

p {
    margin: 1em;
    padding: 1em;
    background-color: white;
    border-radius: 8px;
}

   </style>
</head>

<body>

    <nav>
        <a href="/">Home</a>
        <a href="/services" >Our Services</a>
        <a href="/contact">Contact Us</a>
    </nav>
    <h1>Our Services</h1>
    <p>This is the content of the services page.</p>
</body>
</html>